.row {

  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  /* position: absolute; */
  margin-top: 50px;

  }
  

  .column1 {
    /* float: right; */
    background-color:  #800080;
    width: 600px;
    height: 800px;
    border: 3px ;
    border-radius: 5px;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px; */
    margin-bottom: 20px;
    box-shadow: 8px 8px 0.2px 0.05px rgb(0, 0, 0);
    border: 6px solid black;
    
    
  }
  .column2 {
    /* float: right; */
    background-color:  #800080;
    /* margin-left: 50px; */
    width: 500px;
    height: 600px;
    border: 3px ;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    margin-left: 40px;
    box-shadow: 8px 8px 0.2px 0.05px rgb(0, 0, 0);
    border: 6px solid black;
  }