#sapLogo {
    color:#000000;
    background-color: #f46505;
    text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
  /* max-width: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
    margin-right: 15rem;
  padding: 1rem 1rem 1rem 1rem;

  border-radius: 4px;
  
  
}