
* {
  font-family:"Lucida Console", "Courier New", monospace;
}
body { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f46505;

}

code {
  font-family:"Lucida Console", "Courier New", monospace;
}
